[DEFAULT]
TARGET_RABBITMQ_SERVER_ADDRESS=
TARGET_RABBITMQ_SERVER_PORT=
TARGET_RABBITMQ_SERVER_USERNAME=
TARGET_RABBITMQ_SERVER_PASSWORD=
LOCAL_RABBITMQ_SERVER_ADDRESS=
LOCAL_RABBITMQ_SERVER_PORT=
LOCAL_RABBITMQ_SERVER_ADMIN_PORT=
LOCAL_RABBITMQ_SERVER_USERNAME=
LOCAL_RABBITMQ_SERVER_PASSWORD=
RUNNER_NAME=manager-1
MANUAL_MODE=False